*{
	box-sizing:border-box;
	margin : 0;
	padding : 0;
}
.container{
	max-width:1100px;
	margin:0 auto;
	padding : 0 30px;
}
/* header */
nav{
height: 70px;
background-color: #282c34;
}
nav .container{
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:100%;
}
.TaskHeader{
  color : #fff;
  font-size: 28px;
  font-weight: bold;
}
a{
	margin-left:20px;	
	font-weight:bold;
  text-decoration:none;
  color: aliceblue;
}
a:hover{
  color:#282c34;
  background-color: aliceblue;
}
footer{
  height: 200px;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pageNotFound{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 340px;
}
table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height : 340px;
  overflow-x: auto;
}
tr th {
  border:1px solid #000000;
  background-color:#000;
  color:#fff;
}
tr td {
  border:1px solid #000000;
}
.contactContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 340px;
}

/* About */
.PostsInAbout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttonsInAbout{
  display: flex;
  justify-content: center;
}
button{
  background: #fff;
  border: 2px solid #666;
  padding: 10px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}
@media (max-width: 767px){
  table{
    height: auto;
  }
}
